@model IEnumerable<ASP.Models.Registration>
@using ASP.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutQL.cshtml";
}

<h2>Chào mừng: @Session["Username"] đã đến với trang quản trị tin tức</h2>

